
body{
	font-family: helvetica neue;
	color:#666;
	font-weight:lighter;
}
.maindiv{
	margin: 0 auto;
	background-color:pink;
	text-align:center;
	width:90%;
	margin:5%;
}
h1{
	font-family: helvetica neue;
	color:#666;
	font-weight:lighter;
}